.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.example-card {
    max-width: 400px;
    background: white;
    margin: 5px;
  }

  .image {
    max-width: 300px;
  }

  button {
    margin-right: 5px;
    margin-left: auto;
  }

 